
@import url('https://fonts.googleapis.com/css2?family=Epunda+Slab:ital,wght@0,300..900;1,300..900&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Varela&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav ul{
    list-style-type: none;

}
nav{
    height: 40px;
    background-color: lightskyblue;
    display: flex;
    align-items: center;
    font-size: medium;
    padding: 0 12px;

}
.gameContainer{
    font-size: 16px;

display: flex;
justify-content: center;
margin-top: 50px;

}
.container{
    display: grid;
    grid-template-columns: repeat(3,10vw);
    grid-template-rows: repeat(3,10vw);
    font-family: 'Roboto','sans-serif';
}
.box{
    border: 2px solid black;
    font-size: 8vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s ease-in-out;
}
.box:hover{
    background-color: rgb(212, 188, 235);
}
.box .boxcontent{
    width:6.2rem;
}
.GameInfo{
    width: 32rem;
    margin-left: 100px;
    padding:20px;
}
.img{
    display:none;
    position: absolute;
    top: 210px;
    left: 470px;
}
.bl-0{
    border-left: 0px;
}
.br-0{
    border-right: 0px;

}
.bt-0{
    border-top: 0px;
}
.bb-0{
    border-bottom:0px ;
}
.Players{
    font-size: 20px;
    width: 500px;
    margin-top: 40px;
    margin-bottom: 20px;  
}
.Players .first{
    margin-bottom: 40px;
    font-weight: 200;
}
.Players .second{
    margin-bottom: 40px;
    font-weight: 200;
}
.Players .turns{
    font-weight: 50;
    margin-bottom: 40px;
}
.Players .winningStatus{
    width: 400p;
}
#reset{
    position:absolute ;
    bottom: 150px;
    width: 150px;
    height: 60px;
    border-radius: 30px;
    font-weight: 550;
    background-color: rgb(255, 38, 0);
    color: rgb(255, 255, 255);
    border: 1px solid black;
    font-size: 25px;
}
.heading{
    display: none;
}

@media(max-width:550px){
    body{
        background-color: beige;
    }
    .gameContainer{
        overflow-y: hidden;
        overflow-x: hidden;
        font-size: 11px;
        width: 100%;
        max-width: 650px;
        max-height: 650px;
        background: #509ec8;
        display: flex;
        flex-direction: column;
    }
    .container{
        margin:1.8rem;
        grid-template-columns: repeat(3,7rem);
        grid-template-rows: repeat(3,10vh);
        text-align: center;
        width: 100%;
        max-width: 30rem;
        padding-top: 1.5rem;
    }
    .GameInfo{
    width:100%;
    max-width: 430px;
    margin-left: 30px;
}
    .img{
    display:none;
    position: absolute;
    top: 150px;
    left: 20px;
}
.Players .first{
    margin-bottom: 0.8rem;
    font-weight: 200;
}
.Players .second{
    margin-bottom:0.8rem;
    font-weight: 200;
}
.Players .turns{
    font-weight: 100;
    margin-bottom:0.8rem;
}
.Players .winningStatus{
    width: 50rem;
}
#reset{
    bottom: 7rem;
    left: 8.3rem;
    font-weight: 550;
    background-color: rgb(255, 38, 0);
    color: rgb(255, 255, 255);
}

.GameInfo h1{
    display: block;
    font-size: 28px;
    width: 100%;
    max-width: 430px;
}

}



